.footerBar{
	line-height: 40px;
	text-align: center;
	color: #fff;
	background: rgba(15, 37, 56, 0.6);
	position: absolute;
	bottom: 0;
	width: 100%;
}
.footerBar2{
	color: rgba(255, 255, 255, 0.7);
	background: #36486C;
}